@import "common.css";

/* Table Component */

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table__caption {
    position: relative;
    padding: 10px;
    line-height: 25px;
}

.table__new-employee-btn {
    position: absolute;
    right: 10px;
}

/* Search Component */

.search__result {
    text-align: center;
}

.search__fieldset {
    text-align: center;
}

.search__input {
    margin: 10px;
    width: 50%;
}

/* Upsert Form Component */

.upsert__fieldset {
    display: inline;
    text-align: right;
}

.upsert__legend {
    text-align: left;
}

.upsert__label {
    display: block;
    padding: 10px 0;
}

.upsert__label-text {
    min-width: 100px;
    display: inline-block;
    text-align: right;
}

.upsert__input {
    min-width: 180px;
}

.upsert__skills {
    text-align: left;
}

.upsert__skills-container {
    width: 300px;
    min-height: 100px;
    background: #CCCCCC;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px;
}

.upsert__skill {
    background: white;
    border: 1px solid #333333;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}

.upsert__skill-delete {
    margin-left: 5px;
    cursor: pointer;
    color: darkred;
}

.upsert__buttons-container {
    margin-top: 10px;
}